* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

section h2 {
	text-align: center;
	margin-bottom: 32px;
	text-transform: uppercase;

	color: #313131;
	font-size: 36px;
}

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;
	align-items: center;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 768px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: #fff;
	font-size: 20px;
	background-color: #ff9fdb;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	@media (max-width: 768px) {
		font-size: 18px;
	}
}
